
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>
      <div class="row">
        <h2>Crea una cuenta</h2>
      </div>
      <div class="form-inputs">
        <div class="row">
          <div class="col-auto">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true %>
          </div>
          <div class="col-auto">
            <%= f.input :last_name,
                        required: true,
                        autofocus: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col-auto">
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
      </div>

      <div class="form-actions btn btn-outline-dark">
        <%= f.button :submit, "Sign up" %>
      </div>
      <div class="form-actions btn btn-outline-success">
        <%= render "devise/shared/links" %>
      </div>
  <% end %>
</div>
