<h2 class="mt-4">Tus datos</h2>
<div class="show-user-page">
    <div class="show-avatar">
      <%= cl_image_tag @user.photo.key %>
    </div>
    <div class="show-user-info">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.first_name %></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.last_name %></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.email %></p><br>
    <%= link_to "Editar información", edit_user_registration_path, class:"boton entrar" %>
  </div>
</div>
