<div class="dashboard-page">
  <div class="user-container">
    <div class="user-info">

      <div class="user-avatar">
      <% unless current_user.photo.attached? %>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png",  style:"width:200px;" %>
      <% else %>
        <%= cl_image_tag current_user.photo.key, style:"width:200px; height:200px" %>
      <% end %>
      </div>
      <div class="user-name">
        <h5><%= @user.first_name %> <%= @user.last_name %></h5>
      </div>
      <div class="doctor">
        <p>Doctor: Angel Ramirez Escobedo</p>
      </div>
    </div>

  </div>

  <div class="todo-information">
    <div class="tasks-container">
      <div class="task-title">
        <h3>Tareas</h3>
      </div>
      <div class="app-cards" data-controller="tasks-cards">
        <% @tasks.each do |task| %>
          <%= link_to task_path(task), class:"link-cards" do %>
          <div class="app-card tasks-card-fondo">
            <div class="app-card-title">
              <h4><%= task.title %></h4>
            </div>
            <div class="app-card-info">
              <div class="white-background"></div>
              <p><%= task.details %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flashcards-container">
        <div class="flashcards-title">
          <h4>Flashcards diarias</h4>
        </div>
      <div class="flashcards-box">
        <div class="app-flashcards" data-controller="flashcard-color">
          <% @flashcards.each do | flashcard | %>
          <div class="app-flashcard flashcard-fondo">
            <div class="app-flashcard-title">
              <h5><%= flashcard.content %></h5>
            </div>
            <div class="app-flashcard-info">
              <p><%= flashcard.answer %></p>
            </div>
          </div>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
