<!DOCTYPE html>
<html>
  <head>
    <title>RapidoAprendo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'https://play-lh.googleusercontent.com/ePAW0pl2QfzHkddrA1Yj1jMBh8ZgDENk6L4-X94L88uHdOl6kjE_Hj4Bstq8fiy9xNou' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render "shared/app-navbar" %>
  <% else %>
    <%= render "shared/navbar" %>
  <% end %>
  <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
